<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="../../img/ic_logo.png" type=image/x-icon>
    <title>客户案例－智能家庭安防，智能门锁，智能监控，智能售酒机，便携式售酒机，便携式智能售酒机，数据采集</title>
    <meta name="description" content="专业的智能产品定制开发服务商，主要从事智能家居，智能锁，智能门锁，电子围栏，智能摄像头，智能售酒机，自助售酒机，智能器械监控系统，工业设备监控，数据采集系统等的开发和应用。">
    <meta name="keywords"
          content="智能锁、智能门锁、电子围栏、智能摄像头、智能售酒机、自助售酒机、智能器械监控系统、工业设备监控、工业设备数据采集、数据采集系统、便携式售酒机、便携式智能售酒机、数据采集">
    <script src=" https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="../../css/product.css">
    <link rel="stylesheet" type="text/css" href="../../css/common.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
</head>
<body>
<div id="vue_det">
    <!--头部-->
    <div class="header">
        <iframe src="../header/header2.html" width="100%" height="220px" frameborder="0">
            您的浏览器不支持iframe，请升级
        </iframe>
    </div>
    <!--中间内容-->
    <div class="content">
        <div class="top-image">
            <el-row :gutter="15" type="flex" justify="center">
                <el-col :span="4" v-for="item in hzhbData">
                    <img :src="'../../img/'+item.image1"/>
                    <img v-if="item.image2" :src="'../../img/'+item.image2"/>
                </el-col>
            </el-row>
        </div>
        <div class="parent">
            <div class="title">
                <el-tabs v-model="activeName" @tab-click="handleClick">
                    <el-tab-pane label="智能产品" name="first"></el-tab-pane>
                    <el-tab-pane label="成功案例" name="second"></el-tab-pane>
                    <!--<el-tab-pane label="智能门锁" name="third"></el-tab-pane>
                    <el-tab-pane label="智能售卖机" name="fourth"></el-tab-pane>
                    <el-tab-pane label="物联网系统" name="five"></el-tab-pane>
                    <el-tab-pane label="智能汽车配件" name="five"></el-tab-pane>-->
                </el-tabs>
            </div>
            <el-row :gutter="30">
                <el-col span="8" v-for="(item,position) in selectData">
                    <div :id="'item'+position" class="item" @mouseenter="enterItem(position)">
                        <img :src="'../../img/ic_'+item.image+'.jpg'">
                        <div class="item-title">{{item.name}}</div>
                        <div class="item-content">{{item.content}}</div>
                    </div>
                </el-col>
            </el-row>
        </div>
    </div>
    <!--联系-->
    <div class="contact">
        <iframe src="../../html/contact.html" width="100%" height="800px" frameborder="0">
            您的浏览器不支持iframe，请升级
        </iframe>
    </div>
    <!--底部-->
    <div class="footer">
        <iframe src="../../html/footer/footer.html" width="100%" height="130px" frameborder="0">
            您的浏览器不支持iframe，请升级
        </iframe>
    </div>
</div>
</body>
<script type="text/javascript">
    new Vue({
        el: '#vue_det',
        data: {
            activeName: 'first',
            selectData: [],
            zncpData: [
                {
                    name: "智能魔盒",
                    content: "1.外接存储\n" +
                    "2.无线存储\n" +
                    "3.远程访问\n" +
                    "4.无线路由器\n" +
                    "5.无线中继\n" +
                    "6.手机备份\n" +
                    "7.多人共享\n" +
                    "8.智能软加密\n" +
                    "9.影片推送至电视\n",
                    image: "image1"
                },
                {
                    name: "智能门锁",
                    content: "1.关门自动上锁；\n" +
                    "2.AI智能学习芯片；\n" +
                    "3.开门信息推动；\n" +
                    "4.9种开锁方式；\n" +
                    "5.可接入智能家居系统\n",
                    image: "image2"
                },
                {
                    name: "智能售酒机",
                    content: "1.白酒按需购买，单次出酒50ml-5000ml;\n" +
                    "2.扎啤按需购买，单次出酒1L-3L;\n" +
                    "3.扎啤出酒温度为3-7度；\n" +
                    "4.支持微信扫码支付；\n" +
                    "5.24寸触控广告屏\n",
                    image: "image3"
                },
                {
                    name: "智能充电",
                    content: "全语音车载系统，可语音控制手机通话，点歌，导航查询等，无需手动，让驾驶更安全",
                    image: "image4"
                }
            ],
            hzhbData:[
                {
                    image1:"ic_hzhb1.jpg",
                    image2:"ic_hzhb6.jpg",
                },
                {
                    image1:"ic_hzhb2.jpg",
                    image2:"ic_hzhb7.jpg",
                },
                {
                    image1:"ic_hzhb3.jpg",
                    image2:"",
                },
                {
                    image1:"ic_hzhb4.jpg",
                    image2:"",
                },
                {
                    image1:"ic_hzhb5.jpg",
                    image2:"",
                }
            ],
            cgalData:[
                {
                    name: "深圳市时光电子有限公司",
                    content: "宝安区福永镇凤凰第一工业区华伦科技园21栋",
                    image: "case1"
                },
                {
                    name: "深圳市天玑显示技术有限公司",
                    content: "光明新区公明街道第一工业区炮台路48号创新云谷",
                    image: "case2"
                },
                {
                    name: "余姚市仪表四厂",
                    content: "河南省信阳市商城县长竹园乡",
                    image: "case3"
                },
                {
                    name: "深圳市莱克斯软管有限公司",
                    content: "深圳市龙华新区龙华街道工业西路第三工业区20栋第二层",
                    image: "case4"
                }
            ]
        },
        methods: {
            handleClick(tab, event) {
                var tabName = event.target.getAttribute('id')  //获取到当前元素的id
                if (tabName === 'tab-first') {
                    this.selectData = this.zncpData
                    console.log(event.target.getAttribute('id'))
                }else if (tabName === 'tab-second'){
                    this.selectData = this.cgalData
                    console.log(event.target.getAttribute('id'))
                }
            },
            enterItem: function (position) {
                var animationEnd = (function (el) {
                    var animations = {
                        animation: 'animationend',
                        OAnimation: 'oAnimationEnd',
                        MozAnimation: 'mozAnimationEnd',
                        WebkitAnimation: 'webkitAnimationEnd',
                    };

                    for (var t in animations) {
                        if (el.style[t] !== undefined) {
                            return animations[t];
                        }
                    }
                })(document.createElement('div'));
                $('#item' + position).addClass('animated pulse').one(animationEnd, function () {
                    $('#item' + position).removeClass('animated pulse');
                });

            }
        },
        mounted() {
            this.selectData = this.zncpData
        }
    })
</script>
</html>