<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="img/ic_logo.png" type=image/x-icon>
    <title>晨启兄弟首页</title>
    <meta name="description" content="专业的智能产品定制开发服务商，主要从事智慧新零售,家庭安防,工业器械监控,智能家居,智慧园区,智慧城市,智慧农业等产品的开发与生产，为客户提供一站式定制开发服务。以把智能产品普及千万家为目的。">
    <meta name="keywords"
          content="嵌入式开发,电子围栏开发,监控系统开发,AGV控制系统开发,CCD视觉系统开发,单片机开发,自助售卖机开发,自助售酒机,数据安全云盘,智能门锁,智能摄像设备,小程序定制,会员平台定制,智能充电宝,智慧园区,智慧酒店,智慧城市,智慧农业,智慧校园,智能家居项目的开发,智能产品解决方案">
    <script src=" https://cdn.bootcss.com/vue/2.2.2/vue.min.js"></script>
    <script src="https://apps.bdimg.com/libs/jquery/2.1.4/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="css/index.css">
    <link rel="stylesheet" type="text/css" href="css/common.css">
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <script src="https://unpkg.com/element-ui/lib/index.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/animate.css@3.5.2/animate.min.css">
</head>
<body>
<div id="vue_det">
    <!--头部-->
    <div class="header">
        <iframe src="html/header/header1.html" width="100%" height="220px" frameborder="0">
        </iframe>
    </div>
    <!--中间内容-->
    <div class="content">
        <div class="line1">
            <el-carousel :interval="3000" style="height: 600px" arrow="never">
                <el-carousel-item v-for="(item, position) in slideData" :key="item" style="height: 600px">
                    <!--<div class="parent">
                        <div class="h-scroll-item">
                            <div class="line1-left">
                                <div class="line1-title">{{item.title}}</div>
                                <div class="line1-content">{{item.content}}</div>
                                <el-button @click="toDetails(position)" class="line1-btn" type="primary" plain>立即查看
                                </el-button>
                            </div>
                            <img src="img/ic_home1.png">
                        </div>
                    </div>-->
                    <img :src="'img/'+item.image" style="width: 100%;height: 100%">
                </el-carousel-item>
            </el-carousel>

        </div>
        <div class="line2">
            <div class="parent">
                <div class="line-title">
                    <i class="el-icon-menu"></i>
                    <div style="margin-left: 30px">产品体系</div>
                </div>
                <div class="line2-item-parent">
                    <div class="line2-item" v-for="(item, position) in cptxData">
                        <img :id="'line2-item'+position"
                             :src="'img/'+item.image"
                             @mouseenter="enter(position)">
                        <div class="item-title">{{item.name}}</div>
                        <div class="line2-item-divider"></div>
                        <div class="item-content">
                            {{item.content}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="line3">
            <div class="parent">
                <div class="line3-title">
                    <i class="el-icon-menu"></i>
                    <div style="margin-left: 20px">核心优势</div>
                </div>
                <div class="line3-item-parent">
                    <el-row type="flex" justify="space-around">
                        <el-col :span="7" v-for="(item, position) in hxysData">
                            <div class="line3-item" :id="'line3-item'+position" @mouseenter="enterLine3(position)">
                                <img :src="'img/'+item.image">
                                <div class="item3-title">{{item.name}}</div>
                                <div class="item3-content">
                                    {{item.content}}
                                </div>
                            </div>
                        </el-col>
                    </el-row>
                </div>
            </div>
        </div>
        <div class="line4">

        </div>
    </div>
    <!--联系-->
    <div class="contact">
        <iframe src="html/contact.html" width="100%" height="500px" frameborder="0">
        </iframe>
    </div>

    <!--底部-->
    <div class="footer">
        <iframe src="html/footer/footer.html" width="100%" height="130px" frameborder="0">
        </iframe>
    </div>
</div>
</body>
<script type="text/javascript">
    new Vue({
        el: '#vue_det',
        data: {
            cptxData: [
                {
                    name: "家庭安防",
                    content: "通过智能产品自动探测发生在布防监测区域内的侵入行为，并提示主任发生报警的区域部位，移动手机app的方式借助互联网实现实时监控",
                    image: "ic_jtaf.png"
                },
                {
                    name: "智慧新零售",
                    content: "自动售卖机最多的优势是占地面积小，不需要太多的人力去维护，大大的节省了商家成本。可铺设在人流密集的各种场合，低成本投入高回报将不是梦想",
                    image: "ic_zhxls.png"
                },
                {
                    name: "智能移动存储",
                    content: "该系统可实时监控设备仪器的状态，能做到有问题提前发现，提前解决。解决各企业因设备故障而造成的成本增加问题",
                    image: "ic_znydcc.png"
                }
            ],
            hxysData: [
                {
                    name: "团队优势",
                    content: "团队成员均是本科及以上学历，已帮助多家公司完成智能产品的定制，并帮助企业制定商业化推广方案的完善。技术方面在韩天兵（毕业于华北水利水电大学，拥有8项发明专利），黄意（原唯品会架构师）的带领下，有能力开发市面见到的所有智能产品",
                    image: "ic_td.png"
                },
                {
                    name: "技术优势",
                    content: "拥有自己的核心技术硬件方面包括且不限于掌握 STC 系列，PIC、AVR、MSP430、STM8、STM32F（包括 L 低功耗类）、新唐等多系列处理器的开发，精通应用 Altium Designer 对硬件原理图和线路板的设计，成功移植 uCGUI 到 ARM 系统中",
                    image: "ic_js.png"
                },
                {
                    name: "价格优势",
                    content: "核心技术的优势保障了我们产品的质量，在保障质量的前提下因使用自己的核心技术来实现成本的控制，我们将持续提升生产效率让产品价格控制在大众消费层次，把智能带给千万家。把人工智能普及化将是我们不变的动力，让人工智能普及千万家",
                    image: "ic_jg.png"
                }
            ],
            slideData: [
                {
                    image:"ic_slide1.jpg",
                    title: "C.Q智慧酒店解决方案",
                    content: "实时监测客房状态、宾客需求、服务状况以及设备情况等,前台可以远程、集中管理客房设备,具有节能、高效、为客人提供人性化服务、提升酒店管理水平和酒店形象等诸多优势"
                },
                {
                    image:"ic_slide2.jpg",
                    title: "C.Q智慧家居解决方案",
                    content: "C.Q做智能家居的初衷就是全民普及全屋无线智能家居，让所有人都用得起、用得上，我们理解的“智能家居”，不是捧上天的“智能”，而是切实带给人的“方便”"
                },
                {
                    image:"ic_slide3.jpg",
                    title: "C.Q智慧家居解决方案",
                    content: "C.Q做智能家居的初衷就是全民普及全屋无线智能家居，让所有人都用得起、用得上，我们理解的“智能家居”，不是捧上天的“智能”，而是切实带给人的“方便”"
                }
            ]
        },
        methods: {
            enter: function (position) {
                var animationEnd = (function (el) {
                    var animations = {
                        animation: 'animationend',
                        OAnimation: 'oAnimationEnd',
                        MozAnimation: 'mozAnimationEnd',
                        WebkitAnimation: 'webkitAnimationEnd',
                    };

                    for (var t in animations) {
                        if (el.style[t] !== undefined) {
                            return animations[t];
                        }
                    }
                })(document.createElement('div'));
                $('#line2-item' + position).addClass('animated bounce').one(animationEnd, function () {
                    $('#line2-item' + position).removeClass('animated bounce');
                });

            },
            enterLine3: function (position) {
                var animationEnd = (function (el) {
                    var animations = {
                        animation: 'animationend',
                        OAnimation: 'oAnimationEnd',
                        MozAnimation: 'mozAnimationEnd',
                        WebkitAnimation: 'webkitAnimationEnd',
                    };

                    for (var t in animations) {
                        if (el.style[t] !== undefined) {
                            return animations[t];
                        }
                    }
                })(document.createElement('div'));
                $('#line3-item' + position).addClass('animated pulse').one(animationEnd, function () {
                    $('#line3-item' + position).removeClass('animated pulse');
                });

            },
            //跳转到详情
            toDetails: function (position) {
                var url = "html/plan/plan.html?position=" + position;//此处拼接内容
                window.location.href = url;
            }
        }
    })
</script>
</html>